[submodule "third_party/HighFive"]
	path = third_party/HighFive
	url = git@github.com:BlueBrain/HighFive.git
[submodule "third_party/matplotlib-cpp"]
	path = third_party/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp
