[submodule "third_party/matplotlib-cpp"]
	path = third_party/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "third_party/HighFive"]
	path = third_party/HighFive
	url = https://github.com/BlueBrain/HighFive
[submodule "third_party/enoki"]
	path = third_party/enoki
	url = git@github.com:mitsuba-renderer/enoki.git
[submodule "third_party/rbdl"]
	path = third_party/rbdl
	url = git@github.com:rbdl/rbdl.git
